.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #699efc;
    background-size: 100%;
    height: 1170px;
    min-width: 1366px;
}
.loginPaper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 400px;
    height: 550px;
    padding-top: 2px;
    background-color: #F2F2F2;
}