.App {
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
}

.li {
    display: flex;
    margin-top: 5pt;
}

.error {
    border: red 1px solid
}

.errorMessage {
    color: red;
}

.button {
    position: relative;
}
.activeFilter:focus {
    background-color: aquamarine;
}

.isDone {
    opacity: 0.5;
}