.error {
    border: red 1px solid
}
.todolists {
    display: flex;
    padding-left: 20pt;
}


.errorMessage {
    color: red;
}

.activeFilter:focus {
    background-color: aquamarine;
}

.isDone {
    opacity: 0.5;
}